body
  padding-top 61px

.navbar-header a.navbar-brand
  margin-top -15px
  margin-bottom -20px
  h6
    color #000000

.navbar-inverse
  background-color #c4e3f3

footer p
  border-top #cccccc 1px solid
  padding-top 10px
  padding-bottom 10px

.navbar-form
  .form-group
    margin-left 10px
  button
    margin-left 10px


.toast-top-right
  top 70px